.form-actions {
  margin-top: 20px;
  text-align: center;
  .btn {
    width: 15%;
    border: 1px solid black;
    background-color: antiquewhite;
    color: black;
    border-radius: 3px;
  }
  .a {
    width: 15%;
    border: 1px solid black;
    background-color: antiquewhite;
    color: black;
  }
}
.form-inputs{

  label{
    float: left;
  }
}

.card-body{
  a {
    color: white !important;
  }
}
