<div class="row form-bg">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-5 shadow">
      <h1>Tell us about your dog</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
