.card-product {
    overflow: hidden;
    height: 350px;
    background: rgb(211, 150, 150);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
  }
  
  .card-product img {
    height: 100%;
    width: 180px;
    object-fit: cover;
    padding: 0px 16px;
  }

  .card-body {
    padding: 0px 16px;
  }