// DOG CARDS
.card-product-dog {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
    padding-bottom: 5;
    border-radius: 5px;
    margin: 16px;
    height: 398px;
    position: relative;
  }

  .card-product-dog:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    background: #b2d4e7;
  }

  .card-photo {
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .card-photo img {
    height: 50%;
    width: 50%;
    object-fit: cover;
  }


  .card-body {
    padding: 0px 16px;
    flex-grow: 1;
    padding-right: 20px;
    margin-bottom: 8px;
    width: 100%;
  }


  .cuddliness {
    h5 {
      padding-right: 10px;
    }
  }

  .fa-heart {
    margin-left: 3px;
    letter-spacing: 3px;
  }

  .card-text {
    font-size: 18px;
    margin: 0;
  }


// BOOKING CARDS
.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  height: 200px;
  .booking-info {
    margin: 15px;
  }
  img {
    height: 100%;
    width: 150px;
    object-fit: cover;
  }
  .booking-info h3 {
    font-weight: bold;
  }
  .booking-details-container {
    display: flex;
    justify-content: space-around;
  }
}
