// DOG CARDS
.card-product {
    overflow: hidden;
    height: 380px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 10px;
    margin: 20px;
  }

  .card-product img {
    height: 100%;
    width: 180px;
    object-fit: cover;
    padding: 0px 16px;
    border-radius: 50px;
  }

  .card-product:hover {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    background: #85afc6;
  }

  .card-body {
    padding: 0px 16px;
  }

  .card-body h5 {
    font-weight: bold;
    font-size: 20px;
    margin: 5;
  }

// BOOKING CARDS
.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  height: 200px;
  .booking-info {
    margin: 15px;
  }
  img {
    height: 100%;
    width: 150px;
    object-fit: cover;
  }
  .booking-info h3 {
    font-weight: bold;
  }
  .booking-details-container {
    display: flex;
    justify-content: space-around;
  }
}
